/** @format */

$primaryColor: #6ed782;
$secondaryColor: #3f3d56;

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 10vw;
    color: $secondaryColor;
    margin-top: 10vw;
  }

  h3 {
    font-size: 6vw;
    text-align: center;
    font-weight: 500;
  }

  a {
    padding: 2vw;
    background-color: $primaryColor;
    font-size: 4vw;
    font-weight: 700;
    color: $secondaryColor;
    margin-top: 3vw;
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {
  .notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 3vw;

    h1 {
      font-size: 6vw;
      color: $secondaryColor;
      margin-top: 0vw;
    }

    h3 {
      font-size: 3vw;
      text-align: center;
      font-weight: 500;
    }

    a {
      padding: 2vw;
      background-color: $primaryColor;
      font-size: 2.5vw;
      font-weight: 700;
      border-radius: 0.4vw;
      color: $secondaryColor;
      margin-top: 3vw;
      text-decoration: none;
    }
  }
}
