.productDetailsBody {
    height: 153vw;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1vw;
    z-index: 5;
    
}

.productDetailsSection {
    display: flex;
    justify-content: center;
    height: 60vw;
    position: relative;
    top: 2vw;
}

.productImageDisplay {
    height: 31.4vw;
    width: 38.71vw;
    position: relative;
    top: 2vw;
    left: -1vw;
}

.productMainImage {
    height: 23.75vw;
    width: 38.7vw;
}

.productMainImage img {
    position: relative;
    top: -5vw;
    left: -2vw;
    height: 32vw;
}

.productSubImagesContainer  {
    height: 7.65vw;
    width: 38.7vw;
    display: flex;
    justify-content: space-between;


}

.productSubImages {
    background-color: rgb(230, 230, 230);
    height: 7.65vw;
    width: 12vw;
    
}

.productSubImages img {
    height: 9vw;
    position: relative;
    top: -0.5vw;
}

.productDetailsInfo {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 3vw;
    top: 1vw;
    height: 46.5vw;
    width: 38.7vw;
    align-items: baseline;
    justify-content: space-evenly ;

}

.productName {
    font-size: 2.8vw;
    position: relative;
    font-weight: 500;
    line-height: 3.7vw;
}

.productPriceAndRating {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    position: relative;
    left: 0vw;
    top: 1vw;
    align-items: center;
}

.productOfferPrice {
    font-size: 2vw ;
    font-weight: 700;
    color: #3F3D56;
}

.dollarSign {
    font-size: 1.5vw;
}

.productActualPrice {
    font-size: 1.5vw ;
    font-weight: 500;
    text-decoration: line-through;
    color: #3F3D56;
    position: relative;
    left: 0vw;
}

.ratingStars {
    color: #F8C629;
    font-size: 1.2vw;
    position: relative;
    left: 1vw;
}

.ratingCounter {
    font-size: 1.15vw;
    left: 1vw;
    position: relative;
}


.buyAndCartButtons {
    width: 16vw;
    height: 4vw;
    position: relative;
    top: 2vw;
    align-items: center;
    display: flex;
    justify-content: space-between;

}





.buyAndCartButtons button {
    position: relative;
    height: 2.5vw;
    border: none;
    width: 7.5vw;
    border-radius: 0.4vw;
    font-size: 1vw;
    background-color: #6ED782;
    color: white;
    font-weight: 700;
    font-family: POppins, 'Sans-serif';
}

.buyAndCartButtons :nth-child(2) {
    border: #6ED782 3px solid;
    background-color: #ffffff;
    color: #3F3D56 ;
}

.availableOptions {
    height: 25vw;
    position: relative;
    top: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productDetailsInfo h2 {
    font-size: 1.35vw;
}

.optionContents1, .optionContents2, .optionContents3 {
    display: flex;
    align-items: center;
    width: 11vw;
    height: 3vw;
    justify-content: first baseline;
}

.colorBox {
    width: 1.8vw;
    height: 1.8vw;
    background-color: #3F3D56 ;
    position: relative;
    display: inline-flex;
    margin-right: 1vw;
}

.optionContents2 .colorBox {
    background-color: #6ED782;
}

.optionContents3 .colorBox {
    background-color: #f5ff6d;
}



.productDetailsInfo h3 {
    font-size: 1.25vw;
    font-weight: 500;
}

.productQuantity {
    position: relative;
    top: 2vw;
}

.productDescription {
    position: relative;
    top: 4vw;
}

.productDescription li {
    font-size: 1.31vw;
}

.whiteBGProductDetails {
    position: relative ;
    height: 240vw;
    top: 1.5vw;
    width: 100vw;
    background-color: #ffffff;
    border-radius: 6vw 6vw 0rem 0rem;
    box-shadow: 0px -10px 13px rgba(0, 0, 0, 0.192);
    z-index: 5;


}

.productDetailsHeading {
    font-size: 4vw ;
    position: relative;
    color: white;
}

.productDetailsHeadingSpan {
    color: #3F3D56;
}



.productDetailsDivider {
    position: absolute;
    left: -74vw;
    top: 40vw;
}

.productDetailsDivider img {
    height: 24.5vw;

}

.similarProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 12vw;
}

.similarHeading {
    font-size: 3vw;
    font-weight: 500;
}




.footerOverBGProductDetails {
    height: 20vw;
    position: relative;
    left: 10vw;
    top: 0vw;
    z-index: 5;
}



