/** @format */

.product {
  display: flex;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#checkout-button {
  height: 36px;
  background: #556cd6;
  color: white;
  width: 100%;
  font-size: 14px;
  border: 0;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.6;
  border-radius: 0 0 6px 6px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
#checkout-button:hover {
  opacity: 0.8;
}

/** @format */

$primaryColor: #6ed782;
$secondaryColor: #3f3d56;
$cardShadow: 0px 0px 4px #7f7f7f7a;
$cardRadius: 0.8vw;

.category {
  width: 100vw;

  h3 {
    width: 100%;
    margin-left: 2vw;
    margin-bottom: 2vw;
    font-size: 1.7vw;
    font-weight: 500;
  }

  .categoryHeading {
    font-size: 4vw;
    position: relative;
    color: white;
    padding-top: 0.5vw;
    background-color: #6ed782;
    width: 100vw;
    text-align: center;
    height: 12vw;

    .categoryHeadingSpan {
      color: #3f3d56;
    }
  }

  .categoryContainer {
    background-color: #f6f6f6;
    display: grid;
    min-height: 20vw;
    top: -5vw;
    position: relative;
    border-radius: 6vw 6vw 0rem 0rem;
    box-shadow: 0px -10px 13px rgba(0, 0, 0, 0.192);
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 45vw 30vw;
    width: 100%;
    justify-content: center;
    height: auto;
    padding-top: 3vw;
    gap: 2vw;
    padding-bottom: 10vw;
    grid-template-areas:
      "shipping summary"
      "shipping items"
      "payments items"
      "null items";

    .shippingDetailsSection {
      grid-area: shipping;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2vw;
      box-shadow: $cardShadow;
      border-radius: $cardRadius;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;

        label {
          margin-bottom: 0.5vw;
          font-size: 1vw;
        }

        input {
          margin-bottom: 1vw;
          border-radius: 0.4vw;
          border: 1px solid rgb(201, 201, 201);
          background-color: #f1f1f13f;
          padding: 0 0.7vw;
          font-size: 0.95vw;
        }

        span {
          width: 100%;
          padding-left: 1vw;
          padding-right: 1vw;

          input {
            height: 3vw;
            width: 100%;
          }
        }

        .dividedInputs {
          display: flex;
          width: 100%;

          span {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }

    .paymentOptionsSection {
      grid-area: payments;
      border-radius: 0.8vw;
      box-shadow: $cardShadow;
      border-radius: $cardRadius;
      background-color: #fff;
      padding: 2vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin-bottom: 1vw;
      }

      div {
        width: 95%;
        display: flex;
        justify-content: flex-start;
        background-color: transparent;
        border: 0.1vw solid rgb(209, 209, 209);
        padding: 1vw;
        margin-bottom: 1vw;
        border-radius: 0.4vw;
        font-size: 1vw;
        align-items: center;

        .checkmark {
          width: 1.2vw;
          height: 1.2vw;
          background-color: #e7e7e7;
          border-radius: 50%;
          border: solid 0.1vw rgb(201, 201, 201);
          margin-right: 1vw;
        }

        input:checked ~ .checkmark {
          border: solid 0.4vw $primaryColor;
        }

        input:checked ~ label {
          color: $primaryColor;
        }

        input {
          margin-right: 0.7vw;
          border-radius: 50%;
          opacity: 0;
          cursor: pointer;
          position: absolute;
          width: 100%;
          padding: 1vw;
        }
      }
    }

    .OrderSummarySection {
      grid-area: summary;
      background-color: #fff;
      padding: 2vw;
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 0.8vw;
      align-items: center;
      box-shadow: $cardShadow;

      span {
        display: flex;
        justify-content: space-between;
        padding: 0 1.5vw;
        border-bottom: 1px solid #000;
        width: 100%;

        div {
          p {
            font-size: 1vw;
            margin-bottom: 1vw;
          }
          h4 {
            font-size: 1.2vw;
            margin-bottom: 1vw;
          }
        }

        .rightSide {
          text-align: end;
        }
      }

      button {
        width: 100%;
        margin-top: 1vw;
        height: 3vw;
        border: none;
        border-radius: 0.4vw;
        background-color: $primaryColor;
        color: white;
        font-weight: 700;
        font-size: 1.2vw;
        box-shadow: $cardShadow;
        cursor: pointer;
      }
    }

    .OrderDetailsSection {
      grid-area: items;
      background-color: #fff;
      box-shadow: $cardShadow;
      border-radius: $cardRadius;
      padding: 2vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      .productSection {
        display: flex;
        width: 100%;

        a {
          width: 50%;
          height: 10vw;

          .imageContainer {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding: 1vw 0vw;

            img {
              height: 90%;
            }
          }
        }

        .productListDetails {
          width: 50%;
          display: flex;
          flex-direction: column;
          height: 10vw;
          justify-content: flex-start;
          padding-top: 1vw;

          a {
            height: 40%;
            width: 90%;
            font-size: 0.8vw;
            text-decoration: none;
            color: $secondaryColor;
          }

          .listPrice {
            font-size: 1vw;
            font-weight: 500;
            margin-top: 0.5vw;

            .listItemMRP {
              font-size: 0.7vw;
              font-weight: 300;
              text-decoration: line-through;
              margin-left: 0.4vw;
            }
            .qty {
              font-weight: 700;
              color: $secondaryColor;
            }
          }
        }
      }
    }
  }

  .productListFooter {
    width: 100vw;
    z-index: 10;
    position: relative;
  }
}

// .footerOverBGProductDetails {
//   height: 20vw;
//   position: absolute;
//   left: 10vw;
//   top: 60vw;
//   z-index: 10;
// }

// .productDetailsFooter .footerOverBG {
//   top: -3vw;
// }

// .productDetailsFooter .footerUpperBG {
//   top: -3vw;
// }

@media only screen and (max-width: 768px) {
  $cardRadius: 2vw;

  .category {
    background-color: $primaryColor;
    h3 {
      margin-bottom: 2.5vw;
      font-size: 4.8vw;
    }

    .categoryHeading {
      font-size: 6vw;
      padding-top: 0.7vw;
      height: 12vw;
    }

    .categoryContainer {
      min-height: 40vw;
      top: -1.5vw;
      border-radius: 6vw;
      box-shadow: 0px -5px 13px rgba(0, 0, 0, 0.192);
      grid-template-rows: auto auto auto auto auto;
      grid-template-columns: 90vw;
      padding-top: 6vw;
      gap: 3vw;
      padding-bottom: 10vw;
      z-index: 10;
      grid-template-areas:
        "shipping"
        "shipping"
        "payments"
        "items"
        "summary";

      .shippingDetailsSection {
        padding: 3vw;
        border-radius: $cardRadius;

        form {
          width: 100%;

          label {
            margin-bottom: 1.5vw;
            font-size: 3.5vw;
          }

          input {
            margin-bottom: 2vw;
            border-radius: 0.7vw;
            padding: 0 2vw;
            font-size: 3.5vw;
          }

          span {
            padding-left: 1vw;
            padding-right: 1vw;

            input {
              height: 9vw;
              width: 100%;
            }
          }

          .dividedInputs {
            width: 100%;
          }
        }
      }

      .paymentOptionsSection {
        border-radius: 0.8vw;
        border-radius: $cardRadius;
        padding: 3vw;

        h3 {
          margin-bottom: 1vw;
        }

        div {
          width: 95%;
          border: 0.1vw solid rgb(209, 209, 209);
          padding: 3vw;
          margin-bottom: 1vw;
          border-radius: 0.4vw;
          font-size: 3.5vw;

          .checkmark {
            width: 3.2vw;
            height: 3.2vw;
            border-radius: 50%;
            border: solid 0.5vw rgb(201, 201, 201);
            margin-right: 2vw;
          }

          input:checked ~ .checkmark {
            border: solid 1vw $primaryColor;
          }

          input {
            margin-right: 0.7vw;
            border-radius: 50%;
            opacity: 0;
            width: 70%;
            padding: 1vw;
          }
        }
      }

      .OrderSummarySection {
        padding: 3vw;
        width: 100%;
        border-radius: 0.8vw;
        border-radius: $cardRadius;

        span {
          padding: 0 1.5vw;
          border-bottom: 1px solid #000;
          width: 100%;

          div {
            p {
              font-size: 3.8vw;
              margin-bottom: 2vw;
            }
            h4 {
              font-size: 4vw;
              margin-bottom: 2vw;
            }
          }
        }

        button {
          width: 100%;
          margin-top: 4vw;
          height: 11vw;
          border-radius: 0.4vw;
          font-weight: 700;
          font-size: 4.8vw;
        }
      }

      .OrderDetailsSection {
        border-radius: $cardRadius;
        padding: 3vw;

        .productSection {
          width: 100%;

          a {
            width: 50%;
            height: 25vw;

            .imageContainer {
              width: 100%;
              height: 100%;
              padding: 1vw 0vw;

              img {
                height: 100%;
              }
            }
          }

          .productListDetails {
            width: 50%;
            height: 25vw;
            padding-top: 2vw;

            a {
              height: 40%;
              width: 90%;
              font-size: 2.5vw;
            }

            .listPrice {
              font-size: 3vw;
              font-weight: 500;
              margin-top: 2vw;

              .listItemMRP {
                font-size: 2vw;
                font-weight: 300;
                margin-left: 0.4vw;
              }
              .qty {
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    .productListFooter {
      width: 100vw;
      z-index: 0;
      top: -16vw;
      position: relative;
    }
  }
  .productListFooter {
    position: relative;
    top: -20vw;
  }
}
