/** @format */

$primaryColor: #6ed782;
$secondaryColor: #3f3d56;

.category {
  width: 100vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
  height: auto;
  background-color: #6ed782;
  .categoryHeading {
    font-size: 4vw;
    position: relative;
    color: white;
    padding-top: 0.5vw;
    background-color: #6ed782;
    width: 100vw;
    text-align: center;
    height: 12vw;
    .categoryHeadingSpan {
      color: #3f3d56;
    }
  }

  .categoryContainer {
    background-color: #fff;
    z-index: 10;
    position: relative;
    height: auto;
    top: -5vw;
    min-height: fit-content;
    padding: 4vw 0;
    border-radius: 6vw 6vw 0rem 0rem;
    box-shadow: 0px -10px 13px rgba(0, 0, 0, 0.192);

    .noItems {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 30vw;

      h1 {
        font-size: 2.5vw;
        font-weight: 600;
        color: $secondaryColor;
      }
      h3 {
        font-size: 2vw;
        font-weight: 300;
      }

      a {
        font-size: 2vw;
        margin-top: 1vw;
        color: $secondaryColor;
        text-decoration: none;
        font-weight: 500;
        padding: 1vw 2vw;
        background-color: $primaryColor;
      }
    }

    .categoryContent {
      display: grid;
      width: 90vw;
      position: relative;
      margin-top: 10vw;
      padding-top: 3vw;
      margin-bottom: 10vw;
      height: fit-content;
      left: 50vw;
      transform: translateX(-50%);
      grid-template-rows: 0.2fr auto 0.15fr;
      grid-template-columns: 1fr;
      row-gap: 1vw;
      grid-template-areas:
        "head"
        "product"
        "showMore";

      .categoryHeading {
        font-size: 3vw;
        font-weight: 500;
        color: $secondaryColor;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        grid-area: head;
        border-bottom: 1.5px solid rgb(97, 97, 97);
      }

      .listingContainer {
        grid-area: product;
      }

      .showMoreButton {
        width: 90%;
        padding: 1vw 2vw;
        margin: 0 auto;
        border: none;
        background-color: transparent;
        transition: 0.1s;
        font-family: Poppins, sans-serif;
        font-size: 1.5vw;
        cursor: pointer;
        font-weight: 300;

        &:hover {
          border-bottom: 2px solid $primaryColor;
          background-color: $secondaryColor;
          color: white;
        }
      }
    }
  }

  .productListFooter {
    width: 100vw;
    position: relative;
    top: 0vw;
  }
}

// .footerOverBGProductDetails {
//   height: 20vw;
//   position: absolute;
//   left: 10vw;
//   top: 60vw;
//   z-index: 10;
// }

// .productDetailsFooter .footerOverBG {
//   top: -3vw;
// }

// .productDetailsFooter .footerUpperBG {
//   top: -3vw;
// }

@media only screen and (max-width: 768px) {
  .category {
    width: 100vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
    height: auto;
    background-color: #6ed782;

    .categoryHeading {
      font-size: 5.2vw;
      padding: 2vw 0vw;
      margin-bottom: 2vw;
      width: 100%;
    }

    .categoryContainer {
      margin: 0 auto;
      padding: 4vw 4vw;
      top: -2.3vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2vw 0vw;
      border-radius: 6vw;

      h1 {
        font-size: 2vw;
      }

      // .categoryContent {
      //   display: grid;
      //   width: 90vw;
      //   position: relative;
      //   margin-top: 10vw;
      //   padding-top: 3vw;
      //   margin-bottom: 10vw;
      //   height: fit-content;
      //   left: 50vw;
      //   transform: translateX(-50%);
      //   grid-template-rows: 0.2fr auto 0.15fr;
      //   grid-template-columns: 1fr;
      //   row-gap: 1vw;
      //   grid-template-areas:
      //     "head"
      //     "product"
      //     "showMore";

      //   .categoryHeading {
      //     font-size: 3vw;
      //     font-weight: 500;
      //     color: $secondaryColor;
      //     width: 90%;
      //     margin: 0 auto;
      //     text-align: center;
      //     grid-area: head;
      //     border-bottom: 1.5px solid rgb(97, 97, 97);
      //   }

      //   .listingContainer {
      //     grid-area: product;
      //   }

      //   .showMoreButton {
      //     width: 90%;
      //     padding: 1vw 2vw;
      //     margin: 0 auto;
      //     border: none;
      //     background-color: transparent;
      //     transition: 0.1s;
      //     font-family: Poppins, sans-serif;
      //     font-size: 1.5vw;
      //     cursor: pointer;
      //     font-weight: 300;

      //     &:hover {
      //       border-bottom: 2px solid $primaryColor;
      //       background-color: $secondaryColor;
      //       color: white;
      //     }
      //   }
      // }
    }
    .productListFooter {
      width: 100vw;
      position: relative;
      top: -20vw;
    }
  }

  // .footerOverBGProductDetails {
  //   height: 20vw;
  //   position: absolute;
  //   left: 00vw;
  //   display: none;
  //   top: 60vw;
  //   z-index: 10;
  // }
  // .productDetailsFooter {
  //   top: -14vw;
  //   position: relative;
  // }

  // .productDetailsFooter .footerOverBG {
  //   display: none;
  // }
}
