/** @format */
.category {
  height: auto;
}

.categoryBody {
  height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 15;
}

.categoryContent {
  background-color: #fff;
  position: relative;
  height: auto;
  top: -6.5vw;
  width: 100vw;
  border-radius: 6vw 6vw 0rem 0rem;
  box-shadow: 0px -10px 13px rgba(0, 0, 0, 0.192);
}

.categoryHeading {
  font-size: 4vw;
  position: relative;
  color: white;
  padding-top: 1vw;
  background-color: #6ed782;
  width: 100vw;
  text-align: center;
  height: 15vw;
}

.categoryHeadingSpan {
  color: #3f3d56;
}

.itemListing {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 75vw;
  margin: 0 auto;
  justify-content: center;
  top: 4vw;
  padding-bottom: 5vw;
}

.itemListing img {
  height: 18vw;
  position: relative;
  left: -19vw;
}

.productListDetails {
  position: absolute;
  left: 34vw;
}

.productListDetails h1,
.productListDetails a {
  font-size: 2.7vw;
  font-weight: 500;
  color: #3f3d56;
  text-decoration: none;
}

.starRatings {
  margin-top: 1vw;
}

.starRatings span {
  color: #f8c629;
  font-size: 1.2vw;
}

#ratingCounter {
  color: black;
  display: inline;
  font-size: 1vw;
}

.listPrice {
  display: flex;
  position: relative;
  top: 1vw;
  width: 20vw;
}

.listItemPrice {
  font-size: 2vw;
  font-weight: 500;
}

.listItemMRP {
  font-size: 1.2vw;
  padding-left: 0.8vw;
  padding-top: 0.4vw;
  text-decoration: line-through;
}

.purchaseOptions {
  position: relative;
  top: 1.5vw;
  height: 2.5vw;
  width: 14vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buyNow,
.addToCart {
  position: relative;
  height: 2.5vw;
  border: none;
  width: 6.5vw;
  border-radius: 0.4vw;
  font-size: 1vw;
  background-color: #6ed782;
  color: white;
  font-family: POppins, "Sans-serif";
}

.addToCart {
  background-color: #3f3d56;
}

.footerOverBGCategory {
  height: 20vw;
  position: relative;
  left: 8vw;
}

.category .productListFooter {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}
.footerOverBG {
  top: -4.2vw;
}

@media only screen and (max-width: 768px) {
  .category {
    width: 100vw;
    height: fit-content;
    overflow: hidden;
  }

  .categoryBody {
    height: fit-content;
    background-color: #6ed782;
    padding-top: 2vw;
    padding-bottom: 0vw;
  }

  .categoryHeading {
    font-size: 6vw;
  }

  .whiteBG20 {
    height: 170vw;
    z-index: 10;
    top: 13vw;
    position: absolute;
  }

  .footerOverBGCategory {
    top: 170vw;
    left: -10vw;
    position: absolute;
  }

  .itemListing {
    width: 95vw;
    justify-content: space-around;
    height: 50vw;
    top: 7vw;
    align-items: center;
    margin-bottom: 0vw;
  }

  .productImgDiv {
    display: flex;
    justify-content: center;
  }

  .itemListing img {
    top: 1vw;
    left: -27vw;
    height: 40vw;
  }

  .productListDetails {
    top: auto;
    left: 40vw;
    height: 35vw;
    position: absolute;
  }

  .categoryContent {
    height: fit-content;
    top: -2vw;
    padding-bottom: 4vw;
  }

  .productListDetails h1,
  .productListDetails a {
    font-size: 4.5vw;
  }

  .starRatings span {
    font-size: 2.8vw;
  }

  #ratingCounter {
    font-size: 2.5vw;
  }

  .listPrice {
    width: 40vw;
  }

  .listItemPrice {
    font-size: 4.5vw;
  }

  .listItemMRP {
    font-size: 2.8vw;
    margin-top: 0.5vw;
  }

  .purchaseOptions {
    width: 45vw;
    top: 4vw;
  }

  .buyNow,
  .addToCart {
    height: 7vw;
    width: 21vw;
    font-size: 3vw;
    font-weight: 500;
  }

  .category .productListFooter {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
  }
}
