/** @format */

$primaryColor: #6ed782;
$secondaryColor: #3f3d56;

.searchResults {
  .searchResultsHeading {
    font-size: 4vw;
    position: relative;
    color: white;
    padding-top: 0.5vw;
    background-color: #6ed782;
    width: 100vw;
    text-align: center;
    height: 12vw;
    .searchResultsHeadingSpan {
      color: #3f3d56;
    }
  }

  .searchResultsContainer {
    background-color: #fff;
    position: relative;
    height: auto;
    z-index: 10;
    padding: 2vw;
    top: -5vw;
    border-radius: 6vw;
    box-shadow: 0px -10px 13px rgba(0, 0, 0, 0.192);
    display: flex;
    flex-direction: column;
    justify-content: center;

    // .searchResultsContent {
    //   display: grid;
    //   width: 90vw;
    //   position: relative;
    //   margin-top: 10vw;
    //   padding-top: 3vw;
    //   margin-bottom: 10vw;
    //   height: fit-content;
    //   left: 50vw;
    //   transform: translateX(-50%);
    //   grid-template-rows: 0.2fr auto 0.15fr;
    //   grid-template-columns: 1fr;
    //   row-gap: 1vw;
    //   grid-template-areas:
    //     "head"
    //     "product"
    //     "showMore";

    .searchKeyword {
      font-size: 1.8vw;
      font-weight: 500;
      color: $secondaryColor;
      width: 90%;
      padding-bottom: 2vw;
      margin: 0 auto;
      text-align: center;
      grid-area: head;
      border-bottom: 1.5px solid rgb(97, 97, 97);
    }

    .listingContainer {
      grid-area: product;
      .noResultText {
        text-align: center;
        margin-top: 10vw;
        font-size: 2vw;
        font-weight: 500;
        margin-bottom: 20vw;
      }
    }

    .showMoreButton {
      width: 90%;
      padding: 1vw 2vw;
      margin: 0 auto;
      border: none;
      background-color: transparent;
      transition: 0.1s;
      font-family: Poppins, sans-serif;
      font-size: 1.5vw;
      cursor: pointer;
      font-weight: 300;

      &:hover {
        border-bottom: 2px solid $primaryColor;
        background-color: $secondaryColor;
        color: white;
      }
    }
    // }
  }

  .productListFooter {
    width: 100vw;
    position: relative;
  }
}

// .footerOverBGProductDetails {
//   height: 20vw;
//   position: absolute;
//   left: 10vw;
//   top: 60vw;
//   z-index: 10;
// }

// .productDetailsFooter .footerOverBG {
//   top: -3vw;
// }

// .productDetailsFooter .footerUpperBG {
//   top: -3vw;
// }

@media only screen and (max-width: 768px) {
  .searchResults {
    .searchResultsHeading {
      font-size: 6vw;
      padding-top: 0.5vw;
      width: 100vw;
      height: 14.2vw;
    }

    .searchResultsContainer {
      top: -4vw;
      padding: 2vw 0vw;

      // .searchResultsContent {
      //   width: 90vw;
      //   margin-top: 10vw;
      //   padding-top: 2.5vw;
      //   margin-bottom: 10vw;

      .searchKeyword {
        font-size: 3.8vw;
        font-weight: 500;
        padding-bottom: 2vw;
      }

      .listingContainer {
        .noResultText {
          padding-top: 5vw;
          font-size: 3.5vw;
          width: 80%;
          margin: 0 auto;
          font-weight: 500;
          padding-bottom: 3vw;
        }
      }

      .showMoreButton {
        width: 90%;
        padding: 1vw 2vw;
        margin: 0 auto;
        border: none;
        background-color: transparent;
        transition: 0.1s;
        font-family: Poppins, sans-serif;
        font-size: 1.5vw;
        cursor: pointer;
        font-weight: 300;

        &:hover {
          border-bottom: 2px solid $primaryColor;
          background-color: $secondaryColor;
          color: white;
        }
      }
      // }
    }

    .productListFooter {
      width: 100vw;
      position: relative;
      top: -20vw;
    }
  }
}
