nav {
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 5.15vw;
  box-shadow: 0px 18px 20px #00000029;

  width: 100vw;
  z-index: 10;


}

nav ul li {
  list-style: none;
  font-size: 1.3vw;
}



.header-logo  {
  margin-left: 7.5vw;
  flex: 1 ;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;



}

.header-logo img {
  margin-top: 0.8vw;
  margin-bottom: 0.8vw;
  height: 3vw;


}


.current {
  border-bottom: 0.2vw #6ED782 solid;
  font-weight: 700;
}

.nav_links {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;


}

.nav_links li {
  margin: 1vw;

}



.nav_links a {
  text-decoration: none;
  color:  black;
  font-size: 1.2vw;
}

.header_icons {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin-right: 6.5vw;
  height: 2vw;
  min-width: 8vw;
  align-items: center;
  flex-direction: row;


}


.header_icons a {
  font-size: 1.5vw;
  color: black;

}

