/** @format */

.footerDesktop {
  position: relative;
  top: -3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40.9vw;
  width: 100vw;
  background-color: hsl(245, 17%, 29%);
}

.footerOverBG {
  position: absolute;
  z-index: 10;
  top: -6vw;
  left: -2vw;
  width: 110vw;
}

.footerUpperBG {
  z-index: 0;
  position: absolute;
  width: 110vw;
  top: -4vw;
}

.footerContent {
  display: flex;
  top: 10vw;
  position: relative;
  z-index: 5;
  justify-content: space-around;
  width: 100vw;
}

.footerMobile {
  display: none;
}

.footerColumn1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 22vw;
}

.footerColumn2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 18vw;
  margin-top: 2vw;
}

.companyAddress {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1vw;
  font-weight: 500;
  color: hsl(245, 15%, 17%);
}

.footerColumn2 h1 {
  font-size: 3vw;
  color: hsl(245, 17%, 29%);
}

.footerColumn2 ul {
  display: flex;
  position: relative;
  top: -1.5vw;
}

.footerColumn2 li {
  font-size: 3vw;
  color: white;
  margin-right: 1.3vw;
  margin-left: 1.3vw;
  position: relative;
  list-style: none;
}

.copyrightInfo {
  font-size: 1.4vw;
  position: relative;
  z-index: 13;
  top: 15.5vw;
  opacity: 0.5;
  color: white;
  font-weight: 300;
}

.essenceDarkLogoFooter {
  height: 11vw;
}

@media only screen and (max-width: 768px) {
  .footerMobile {
    display: block;
  }

  .footerDesktop {
    display: none;
  }

  .footerMobileBG {
    background-color: #3f3d56;
    height: 130vw;
    width: 100vw;
    top: 10vw;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footerColumn {
    position: relative;
    top: 14vw;
    display: flex;
    flex-direction: column;
  }

  .footerColumn img {
    height: 30vw;
    position: relative;
    top: 2vw;
  }

  .footerMobile p {
    color: white;
    text-align: center;
    font-size: 4vw;
    top: 20vw;
    position: relative;
  }

  .footerSocialLinksMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    top: 12vw;
    position: relative;
  }

  .footerSocialLinksMobile ul {
    display: flex;
    justify-content: space-around;
    width: 60vw;
  }

  .footerSocialLinksMobile h1 {
    font-size: 5vw;
  }

  .footerSocialLinksMobile li {
    font-size: 9vw;
    list-style: none;
  }

  .bottomFooterMobile {
    height: 15vw;
    width: 100vw;
    background-color: #6ed782;
    position: relative;
    top: 39vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    color: #3f3d56;
  }
}
