/** @format */

.aboutBG {
  width: 130vw;
  position: absolute;
  top: -10vw;
  left: -6vw;
}

.about {
  position: relative;
  z-index: 9;
  height: 118vw;
  background-color: #6ed782;
  overflow: hidden;
}

.aboutArt {
  position: absolute;
  top: 15vw;
  height: 20vw;
  right: 15vw;
}

.aboutArtMobile {
  display: none;
}

.aboutBGMobile {
  display: none;
}

.aboutBody {
  position: relative;
  height: 80vw;
  z-index: 9;
  display: flex;
  justify-content: center;
}

.aboutBody p {
  position: absolute;
  top: 22.5vw;
  font-size: 1.2vw;
  text-align: center;
  left: 3vw;
  color: #3f3d56;
  font-weight: 700;
  font-family: Poppins, "Sans-serif";
}

.aboutBody h1 {
  position: absolute;
  top: 3.5vw;

  z-index: 8;
  color: #3f3d56;
  font-weight: 700;
  font-size: 3.15vw;
}

@media only screen and (max-width: 768px) {
  .aboutBG {
    display: none;
  }

  .aboutArt {
    display: none;
  }

  .about {
    height: 303vw;
    background-color: #6ed782;
  }

  .aboutBGMobile {
    position: absolute;
    display: block;
    z-index: 8;
    height: 191vw;
    top: -10vw;
    left: -8.5vw;
  }

  .aboutArtMobile {
    display: block;
    top: -16.5vw;
    height: 30vw;
    position: relative;
  }

  .aboutBody p {
    left: auto;
    font-size: 4vw;
    width: 75vw;
    font-weight: 500;
  }

  .aboutBody {
    height: 150vw;
    top: 40vw;
  }

  .aboutBody h1 {
    top: -37.8vw;
    font-size: 6vw;
  }
}
